        .determinate {
            color: #0063a6;
            font-size: 2em;
            line-height: 1.5em;
            text-indent: .5em;
            width: 15em;
            height: 1.8em;
            border: 1px solid #0063a6;
            background: #fff;
        }

        .determinate::-webkit-progress-bar {
            background: #fff;
        }

        .determinate::-webkit-progress-value, progress::-moz-progress-bar {
            background: #0063a6;
        }

        input[type='button'] {
            background: #ccc;
            border: none;
            cursor: pointer;
            padding: .2em .5em;
        }

